html,
body,
.container,
.content-wrap {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/ /* when commented out, menu looks choppy when opening */
}

.container {
	background: #fffce1;
}

.menu-wrap a {
	color: #ddd; /* menu text color */
	font-family: 'Exo', sans-serif;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #fffce1;
}

/* Menu */
.menu-wrap {
	z-index: 999;
	margin-top: -20px; /* sets vertical position of menu bar when open, no whitespace across top */
  margin-left: -15px; /* resets menu bar to show across screen */
  background-color: rgba(77,77,77, 0.96); /* menu bar color when open, with opacity */
	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
	transition: width 0.4s, height 0.4s, transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu {
	height: 100%;
	overflow: hidden;
	font-size: 0.75em;
}

.show-menu .menu-wrap {
	width: 100%;
	margin-top: -20px;
	height: 80px; /* sets height of menu bar when opened */
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.content-wrap {
	background-image:url(../images/main.jpg);
  width: auto;
  height: 100vh;
  margin-top: -100px; /*margin-top: -20px; *//* adjusts vertical position of background image, no whitespace in between navBar and pages */
  -webkit-filter: blur(0px);
  background-size: 100% 100%;
  z-index: 0;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content {
	position: relative;
	background: #b4bad2;
	padding-bottom: 12em;
}

/* Common styles for menu button and menu-wrap */
.menu-button,
.menu-wrap {
	position: fixed;
	width: 2.5em;
	height: 2.25em;
	font-size: 1.5em;
	-webkit-transform: translate3d(1.5em,0.7em,0);
	transform: translate3d(1.5em,.7em,0); /*(horizontal, vertical) of button*/
}

/* Menu Button */
.menu-button {
	z-index: 1000;
/*	margin: 0;*/
	margin-top: -20px; /* adjusts vertical position of menu button*/
	margin-left: -15px; /* moves menu button to align when menu closed */
	border: none;
	text-indent: 2.5em;
/*	color: transparent;*/
/*	background: #366184;*/ /* changes menu button color background */
	background: transparent;
}

.menu-button:focus { /* http://stackoverflow.com/questions/4524180/unwanted-ouline-or-border-around-button-when-clicked */
  outline:none; /* doesn't show blue border when button clicked */
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#fffce1 20%, transparent 20%, transparent 40%, #fffce1 40%, #fffce1 60%, transparent 60%, transparent 80%, #fffce1 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

.icon-list {
	float: right;
	padding: 1em 2em 0 6em; /*positions of icons: top, right, buttom, left*/
}

.icon-list a {
	opacity: 0;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 15px;
	text-align: center;
	font-size: 1.2em;
}

.icon-list a span {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px; /* spaces out individual letters */
	font-size: 0.6em;
	font-weight: 700;
	padding-top: 0.5em;
}

@media screen and (max-width: 50em) {
	.icon-list a {
		padding: 0.5em 0em;
		margin: 0 5px;
		font-size: 1em;
	}
	.icon-list a span {
		display: none;
	}
}

/* Show menu */

.show-menu .content-wrap {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(0,80px,0); /*sets vertical offset of content when navBar is open*/
	transform: translate3d(0,80px,0);
}

.show-menu .icon-list a {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.4s;
	transition: opacity 0.4s 0.4s;
}

.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
