@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Aldrich);

.title {
  text-align: center;
  font-family: arial rounded mt, verdana, sans-serif;
  font-size: 4em;
  color: #CCCCFF;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #CCCCFF;
  opacity: .9;
  text-shadow: 0px 1px 1px;
}

.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}


.main_content { /* adjusts content, but not background image */
  padding-top: 100px;
}

nav#hmenu {
  margin: 0;
  padding: .3em 0 .3em 0;
  background: #5e869a;
  opacity: .8;
  width: 100%;
  font-family: arial, verdana;
  text-align: center;
  box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

nav#hmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 2px;
}

nav#hmenu ul li {
  margin: 0;
  padding: 7px;
  display: inline;
}

nav#hmenu ul a:link {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-size: medium;
  color: #FFFFFF;
}

nav#hmenu ul a:visited {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #FFFFFF;
}

nav#hmenu ul a:active {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #d8dcdd;
}

nav#hmenu ul a:hover {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-size: medium;
  color: #d8dcdd;
}

.column-headings {
  font-weight: bold
}

.title .subtitle {
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 10px;
  opacity: .6;
  font-family: arial, verdana;
  text-shadow: none;
}

#editbtn {
  float: right;
  margin-left: 10px;
  margin-right:10%;
}

#updatebtn {
  float: right;
  margin-left: 10px;
}

#notification {
  margin-top: -5px;
}

.invalidTxtBox {
  border-color: red;
}

#signup {
  padding-left:33%;
}

#signin {
  padding-left:33%;
}

.center-heading {
  text-align: center;
}

.field {
  width: 100%
}

body {
  background-color: black; /* sets content beyond screen black */
}

.body {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  min-width: 650px; /* render correctly for very small screens */
  min-height: 260px; /* render correctly for very small screens */
  background-image: url(../images/fomo.jpg);
  background-size: cover;
  -webkit-filter: blur(0px);
  z-index: 1;
}

.grad {  /* shaded filter over entire background image */
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  opacity: 0.7;
  min-width: 650px; /* render correctly for very small screens */
  min-height: 260px; /* render correctly for very small screens */
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  z-index: 1;
}


.grad1 {
  position: absolute;
  top: -40px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  opacity: 0.7;
  min-width: 650px;
  min-height: 260px;
  width: 102%;
  height: 50%;
  background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0)));
  z-index: 1;
}

.containersignup {
  position: absolute;
  top: calc(55% - 125px);
  left: calc(50% - 350px);
  height: 385px;
  width: 750px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  opacity: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;
}

.containersignin {
  position: absolute;
  top: calc(55% - 125px);
  left: calc(50% - 350px);
  height: 263px;
  width: 750px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  opacity: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;
}

.header {
  position: absolute;
  top: calc(55% - 60px);
  left: calc(50% - 260px);
  z-index: 2;
}

 .header div {
  float: right;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

 .header div span {
  color: #5379fa !important;
}

.aboutsignup {
  position: absolute;
  top: calc(55% - -235px);
  left: calc(50% - 340px);
  height: 25px;
  width: 50px;
  z-index: 3;
}

.aboutsignin {
  position: absolute;
  top: calc(55% - -113px);
  left: calc(50% - 340px);
  height: 25px;
  width: 50px;
  z-index: 3;
}

.about a:focus {
  color: #337ab7;
  text-decoration: none;
}

.about a:hover {
  color: #337ab7;
  text-decoration: none;
  opacity: 0.7;
}

/* error message for dup users on signup */

#dupuser {
  padding-bottom: 5px;
}

#dupuser div{
  font-family: 'Exo', sans-serif;
  color: red;
  margin-top: -45px;
}

#allfields, #matchpass {
  padding-bottom: 5px;
}

#allfields, #matchpass div{
  font-family: 'Exo', sans-serif;
  color: red;
  margin-top: -25px;
}

.explore {
  position: absolute;
  top: calc(55% - 0px);
  left: calc(50% - 235px);
  height: 150px;
  width: 225px;
  z-index: 3;
}

.explore2 {
  position: absolute;
  top: calc(55% - 45px);
  left: calc(50% - 235px);
  height: 150px;
  width: 225px;
  z-index: 3;
}

.explore button {
  width: 250px;
  height: 35px;
  background: #86a1fb;
  border: 0px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color:#333;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  margin-top: 100px;
}

.explore button:hover {
  opacity: 0.8;
}

.login {
  position: absolute;
  top: calc(55% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text] {
  width: 280px;
  height: 50px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.login input[type=password] {
  width: 280px;
  height: 50px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.login button {
  width: 280px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 0px;
}

.login button:hover {
  opacity: 0.8;
}

.login button:active {
  opacity: 0.6;
}

.login input[type=text]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login button:focus {
  outline: none;
}

.signup {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  color: #ae8ee1;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.8); /* place */
}

::-moz-input-placeholder {
   color: rgba(255,255,255,0.6);
}

/* CSS for addEventView */

.addevent {
  margin-left: 15%;
  margin-top: 2%;
  z-index: 2;
}

.addevent .containerAddEvent {
  position: absolute;
  margin-left: -4%;
  margin-top: -1%;
  height: 600px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  opacity: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: -1;
}

.addevent #addeventtitle {
  color: #5379fa !important;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  z-index: 2;
  margin-left: 90px;
}

#addEventForm {
  padding-top: 5px;
}

.addEventFieldTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
}

.addevent input[type=text] {
  width: 350px;
  height: 50px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,1);
  border-radius: 2px;
  color: rgba(255,255,255,1);
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.addevent textarea {
  width: 350px;
  height: 150px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.addevent input[type=date] {
  width: 173px;
  height: 50px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.addevent input[type=time] {
  width: 172px;
  height: 50px;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: -5px;
}

.addevent input[type=button] {
  width: 350px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 0px;
}

.addevent input[type=button]:hover {
  opacity: 0.8;
}

.addevent input[type=button]:active {
  opacity: 0.6;
}

.addevent button:focus {
  outline: none;
}

.addevent span {
  position: absolute;
  vertical-align: middle;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-left: 70px;
}

.addevent #dupevent {
  color: white;
  font-weight: 500;
}

.addevent p {
  position: absolute;
  vertical-align: middle;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-left: 425px;
}

/* ------- homepage (results) view-------  */

.homepage {
  width: auto;
  height: 100vh;
  -webkit-filter: blur(0px);
  background-size: 100% 100%;
  z-index: 0;
}

#top10Title {
  font-family: 'Exo', verdana, sans-serif;
  font-size: 200%;
  font-weight: 600;
  margin-left:10%;
  color: #d4c9e7;
}

.top10Heading {
  font-family: 'Exo', serif;
  vertical-align: middle;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 125%;
  letter-spacing: 1.5px;
  margin-top: 4%;
}

.top10Odd {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%, 100%;
}

.top10Even {
  background-color: rgba(49,72,150, 0.65);
  background-size: 100%, 100%;
}

.top10Style {
  vertical-align: middle;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 1px;
  height: 100%;
  font-family: 'Exo', serif;
  font-style: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 0.4%;
  text-shadow: 0 50% 50%;
  border: 1.5px solid rgba(200,200,200,0.8);
  border-radius: 6px;
  color: #e9f2f9;
}

#category {
  text-transform: capitalize;
}

#eventname {
  font-size: 115%;
}

#eventful {
  height: 35px;
  opacity: 0.8;
  margin-top: -10px;
}

#powered {
  font-family: 'Exo', serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #ccc;
  margin-left: 10px;
  margin-right: -3px;
}

.displayResult {
  color: white;
  font-family: 'Exo', serif;
  letter-spacing: 1px;
  vertical-align: middle;
}

#noresults {
  color: white;
  font-family: 'Exo', serif;
  letter-spacing: 1px;
  margin-left: auto;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: auto;
  text-align: center;
  margin-top: -25px;
  margin-right: 50px;
}

/* ------- search view ------- */

.searchEvent input[type=text] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-top: 5%;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-bottom: 2%;
  width: 600px;
  height: 40px;
}

#searchBar {
  vertical-align: middle;
  text-align: center;
}

.searchHeading {
  font-family: 'Exo', serif;
  vertical-align: middle;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 125%;
  letter-spacing: 1.5px;
  margin-top: 1%;
}

#searchHeadingTxt{
  color: #00CC99;
  font-weight: bold;
}

.searchContent {
  vertical-align:middle;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  letter-spacing: 1px;
  height: 100%;
  font-family: 'Exo', serif;
  font-style: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 0.4%;
  text-shadow: 0 50% 50%;
  border: 1.5px solid rgba(200,200,200,0.8);
  border-radius:6px;
  color: #e9f2f9;
}

/* user View page */

#userViewTitle {
  font-family: 'Exo', verdana, sans-serif;
  font-size: 200%;
  font-weight: 600;
  margin-left: 7%;
  color: #bca2e6;
}


/* event view page */
#eventViewInfoBox {
  margin-left:5%;
  margin-right: auto;
  background: transparent;
  border: 1.5px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
}

/* add event page */
.containersAddEventGradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  z-index: 1;
}
.containersAddEvent {
  position: absolute;

  top: 40vh;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  opacity: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;

}

.eventView {
  color: #fff;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
}

#eventLink {
  font-style: italic;
  color: white;
}

#eventImgSize {
  width:auto;
  height:200px;
  margin-right:8%;
  float:right;
}

#event-container {
  background-color: rgba(70,70,70, 0.85);
  padding: 10px;
}

@media (max-width: 1000px) {
  .hideTitle {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hideTitle {
    font-size:75%;
  }
}

@media (max-width: 500px) {
  .fomo {
    font-size:90%;
  }
}

@media (max-width: 500px) {
  .titleFont{
    font-size:70%;
  }
}

#fomoTitle {
  color: white !important;
  font-color: white !important;
  font-weight: 200;
}

.row, span {
    overflow-wrap: break-word;
}
