
<div data-ng-init="getEvent()" class="col-md-12" id='event-container'>
  <span class="col-md-11">
      <img ng-src='{{data.event_image || "./images/stock.jpg"}}' height="200" alt="Not Working"/>

    <h1>{{data.event_title}}</h1>

<!--     <form novalidate name="dateForm" class="form-block" role="form">
      <textarea name="info" ng-model="data.date" ></textarea>
      <input type="submit" class="btn btn-primary" ng-click="submitDate()">
    </form> -->

    <div class="row form-group">
      <h3 ng-hide="editDate" class="col-md-4">{{(data.notification_date | date) || 'No date yet'}} – {{(data.notification_time | date: 'h:mm a') || 'add one'}}</h3>

      <button ng-hide='data.fired' id='editbtn' class="btn btn-default col-md-1" ng-click="setEditAttribute('Date', !editDate); defaultText(['notification_date','notification_time'])">{{!editDate && 'Edit Date' || 'Cancel'}}</button>

      <form ng-show="editDate" novalidate name="dateForm" class="form-group form-block" role="form">
        <input type="date" id="add-notify-date" name="input" ng-model="data.notification_datenew" ng-required='data.notification_timenew'/>
        <input type="time" id="add-event-time" name="input" ng-model="data.notification_timenew"/>
        <!--  http://stackoverflow.com/questions/16251977/angularjs-toggle-button -->
        <input id='editbtn' type="submit" ng-disabled="eventForm.$invalid" class="btn btn-primary col-md-1 form-group" ng-click="submitNewNotificationDate(); setEditAttribute('Date', !editDate)" value='Update Date'>
      </form>
    </div>

    <div class="row">
      <p ng-hide="editInfo" class="col-md-9">{{data.event_info}}</p>

      <button ng-hide='data.fired' id='editbtn' class="btn btn-default col-md-1" ng-click="setEditAttribute('Info', !editInfo); defaultText(['event_info'])">{{!editInfo && 'Edit Info' || 'Cancel'}}</button>
      <form class="row" ng-show="editInfo" novalidate name="infoForm" class="form-block" role="form">
        <textarea name="info" ng-model="data.event_infonew" ng-minlength="1" class="col-md-9" style="height: 120px;"></textarea>
        <input type="submit" id='editbtn' class="btn btn-primary col-md-1" ng-click="submitInfo(); setEditAttribute('Info', !editInfo)" value='Update Info'>
      </form>
    </div>

    <a href="http://{{data.event_link}}" target="_blank">{{data.event_link}}</a>

    <HR>

    <h3 ng-show='data.fired'>---------EVENT TRIGGERED---------</h3>

    <button ng-if="!data.subscribed && isLoggedIn()===true" ng-hide='data.fired' class="btn btn-default navbar-btn" ng-click="subscribe()" notype="submit" >Subscribe to Event!</button>

    <button ng-if="data.subscribed" ng-hide='data.fired' class="btn btn-default navbar-btn" ng-click="unsubscribe()" notype="submit" >Unsubscribe from Event!</button>

    <button class="btn btn-default navbar-btn" ng-hide="data.notification_time" ng-if="!data.fired && isLoggedIn()===true" ng-click="triggerEvent()" notype="submit">Trigger Notification Now</button>
  </span>
</div>
