
<div data-ng-init="getEvent()" class="col-md-12" id='event-container'>
  <span class="col-md-10">
    <img src="http://blogs-images.forbes.com/hughmcintyre/files/2015/01/coachella-logo-big.jpg"/>
    <h1>{{test.title}}</h1>
    <h3>{{test.date}}</h3>
    <p>{{test.info}}</p>
    <a href="{{test.link}}" target="_blank">{{test.link}}</a>
    <p>Tags:<span ng-repeat='tag in test.tags'>{{$first ? ' ' : ', '}}{{tag}}</span></p>
    <button ng-click="editEvent()" type="submit" class="btn btn-default navbar-btn">Edit Event</button>
    <button ng-click="notifyMe()" notype="submit" class="btn btn-default navbar-btn">Notify Me!</button>
  </span>

</div>
