
<div data-ng-init="getEvent()" class="col-md-12" id='event-container'>
  <span class="col-md-11">
<!--       <img ng-src='{{data.event_image || "./images/stock.jpg"}}' alt="Not Working"/>
 -->
    <h1>{{data.event_title}}</h1>

<!--     <form novalidate name="dateForm" class="form-block" role="form">
      <textarea name="info" ng-model="data.date" ></textarea>
      <input type="submit" class="btn btn-primary" ng-click="submitDate()">
    </form> -->

    <div class="row form-group">
      <h3 ng-hide="editDate" class="col-md-4">{{data.event_date | date}} – {{data.event_time | date: 'h:mm a'}}</h3>

      <button id='editbtn' class="btn btn-default col-md-1" ng-click="setEditAttribute('Date', !editDate); defaultText(['event_date','event_time'])">{{!editDate && 'Edit Date' || 'Cancel'}}</button>

      <form ng-show="editDate" novalidate name="dateForm" class="form-group form-block" role="form">
        <input type="date" id="add-notify-date" name="input" ng-model="data.event_datenew" ng-required='data.event_timenew'/>
        <input type="time" id="add-event-time" name="input" ng-model="data.event_timenew"/>
        <!--  http://stackoverflow.com/questions/16251977/angularjs-toggle-button -->
        <input id='editbtn' type="submit" ng-disabled="eventForm.$invalid" class="btn btn-primary col-md-1 form-group" ng-click="submitNewDate()" value='Update Date'>
      </form>
    </div>

    <div class="row">
      <p ng-hide="editInfo" class="col-md-9">{{data.event_info}}</p>
      <button id='editbtn' class="btn btn-default col-md-1" ng-click="setEditAttribute('Info', !editInfo); defaultText(['event_info'])">{{!editInfo && 'Edit Info' || 'Cancel'}}</button>
      <form class="row" ng-show="editInfo" novalidate name="infoForm" class="form-block" role="form">
        <textarea name="info" ng-model="data.event_infonew" ng-minlength="1" class="col-md-9" style="height: 120px;"></textarea>
        <input type="submit" id='editbtn' class="btn btn-primary col-md-1" ng-click="submitInfo(); setEditAttribute('Info', !editInfo)" value='Update Info'>
      </form>
    </div>

    <a href="http://{{data.event_link}}" target="_blank">{{data.event_link}}</a>

    <!-- <p>Tags:<span ng-repeat='tag in test.tags'>{{$first ? ' ' : ', '}}{{tag}}</span></p> --> <!-- todo: add tags -->
<!-- http://stackoverflow.com/questions/26926345/angularjs-ng-repeat-add-comma-separated-and-and-before-last-item -->
    <HR>

    <div class="row">
      <h3 id='notification' class="col-md-11">Notification:</h3>
    </div>

    <div class="row">
      <p class="col-md-8" ng-show="data.notification_info">{{data.notification_info}}</p>
    </div>

    <div class="row">
      <p class="col-md-8" ng-show="data.notification_info">{{data.notification_date | date}} – {{data.notification_time | date: 'h:mm a'}}</p>
      <button id='editbtn' class="btn btn-default col-md-1" ng-click="setEditAttribute('NotifyDate', !editNotifyDate)">{{!editNotifyDate && 'Edit Date' || 'Cancel'}}</button>
      <form ng-show="editNotifyDate" novalidate name="dateForm" class="form-block" role="form">
        <input type="date" id="add-notify-date" name="input" ng-model="data.notification_date" ng-required='data.notification_time'/>
        <input type="time" id="add-notify-time" name="input" ng-model="data.notification_time"/>
        <!--  http://stackoverflow.com/questions/16251977/angularjs-toggle-button -->
        <input id='editbtn' type="submit" class="btn btn-primary col-md-1" ng-click="submitNewDate()" value='Update Date'>
      </form>
    </div>

    <div class="row">
      <p class="col-md-8" ng-show="!data.notification_info">No notifications yet – edit event to add one</p>
    </div>

    <button ng-if="!data.subscribed" class="btn btn-default navbar-btn" ng-click="subscribe()" notype="submit" >Subscribe to Event!</button>

    <button ng-if="data.subscribed" class="btn btn-default navbar-btn" ng-click="unsubscribe()" notype="submit" >Unsubscribe!</button>

    <button class="btn btn-default navbar-btn"  class="ng-hide" ng-click="triggerEvent()" notype="submit">Trigger Notification</button>
  </span>
</div>
