

<h1 class='title'>fomo<p class='subtitle'>fear of missing out</p></h1>
<nav id="hmenu" class="col-md-12">
  <ul>
    <li class="col-md-1"></li>
    <li class="col-md-2"><a href="#/home">home</a></li>
    <li class="col-md-2"><a ng-if="root.loggedIn===true" href="#/user"><span ng-bind="(root.user.username ? root.user.username+'\'s' : 'Your')"> Events</span></a></li>
    <li class="col-md-2"><a href="#/search">search</a></li>
    <li class="col-md-2"><a ng-if="root.loggedIn===true" href="#/addevent">new event</a></li>
    <li class="col-md-2"><a ng-if="root.loggedIn===false" href="#/signin"><span ng-bind='"signin"'></span></a><a href ng-if="root.loggedIn===true" ng-click="logout()"><span ng-bind='"logout"'></span></a></li>
    <li class="col-md-1"></li>
  </ul>
</nav>
