<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">

  <div class="menu-wrap">
    <nav class="menu">
      <div class="icon-list">
        <div id="navlogo" class="col-lg-5 col-md-5 col-sm-2 col-xs-2"><span class="fomo"><label id="fomoTitle">FOMO</label></span><span class="hideTitle"><span> | </span>fear of missing out </span></div>

        <a href ng-if="root.loggedIn===true" ng-click="logout()"><i class="fa fa-sign-out" ></i><span ng-bind='"log out"'></span></a>

        <a ng-if="root.loggedIn===false" href="#/signin" ng-class="{'selected-item':location.$$url==='/signin'}"><i class="fa fa-fw fa-sign-in"></i><span ng-bind='"sign in"'></a>

        <a ng-if="root.loggedIn===true" href="#/addevent" ng-class="{'selected-item':location.$$url==='/addevent'}"><i class="fa fa-fw fa-plus"></i><span>New Event</span></a>

        <a href="#/search" ng-class="{'selected-item':location.$$url==='/search'}"><i class="fa fa-fw fa-search"></i><span>Search</span></a>

        <a ng-if="root.loggedIn===true" href="#/user" ng-class="{'selected-item':location.$$url==='/user'}"><i class="fa fa-fw fa-bell-o"></i><span ng-bind="(root.user.username ? root.user.username+'\'s' : 'Your') + ' Events'"></span></a>

        <a href="#/home" ng-class="{'selected-item':location.$$url==='/home'}"><i class="fa fa-fw fa-home"></i><span>Home</span></a>

      </div>
    </nav>
  </div>

  <button class="menu-button" id="open-button"></button>
</div>
