<div class="col-lg-12 col-md-12 col-xs-12">
  <div id="top10Title">POPULAR EVENTS<span id="powered"> powered by </span><img id="eventful" src="../images/eventful.png"></div>
</div>


<div class="row column-headings top10Heading">
  <a href="#" ng-click="orderVariable='event_title'"><span class="col-md-6 col-xs-6" style="color:white;"><label class="titleFont">EVENT</label></span></a>
  <a href="#" ng-click="orderVariable='event_category'"><span class="col-md-3 col-xs-3" style="color:white;"><label class="titleFont">CATEGORY </label></span></a>
  <span class="col-md-3 col-xs-3" style="color:white;"> <label class="titleFont">   LINK</label></span>
</div>

<div class="row top10Style" ng-repeat="event in popularEvents | orderBy:orderVariable" ng-click="selection(event)" ng-class="{'top10Odd': $odd , 'top10Even': $even}">
  <div>
    <span id="eventname" class="col-md-6 col-xs-6"><a href="#/event/{{event.id}}"><span class="displayResult">{{event.event_title}}</span></a></span>

    <span id="category" class="col-md-3 col-xs-3"><span class="displayResult">{{event.event_category}}</span></span>

    <span class="col-md-3 col-xs-3" ng-show="event.event_link !== null"><a href="{{event.event_link | linkFormat}}" target="_blank"><span class="displayResult">More Info</span></a></span>
  </div>
</div>


