<div class="form-group">
  <input type="text" class="" ng-model="query" placeholder="Search for event">
  <button type="submit" class="btn" ng-click="submit()">Submit</button>
</div>

<div class="row column-headings">
  <span class="col-md-4">Event</span>
  <span class="col-md-4">Info</span>
  <span class="col-md-4">Category</span>
</div>
<div class="row search-result" ng-repeat="event in events" ng-click="selection(event)">
  <div>
    <span class="col-md-4">{{event.event_title}}</span>
    <span class="col-md-4">{{event.event_info}}</span>
    <span class="col-md-4">{{event.event_category}}</span>
  </div>
</div>

