<div class="form-group">
  <form novalidate name="searchForm" class="form-block" role="form" ng-submit='submit()'>
    <input type="text" class="" ng-model="event.name" ng-required="true" ng-change="liveSearchEventTitle()" 
      ng-class="{'invalidTxtBox': queryresult.length > 0 || event.name.length === 0}" placeholder="Search for event">
    <select ng-model="event.category" ng-change="liveSearchEventTitle()">
      <option ng-repeat="category in event.categories">{{category}}</option>
    </select>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<div class="row column-headings">
  <a href="#" ng-click="orderVariable='event_title'"><span class="col-md-2">Event</span></a>
  <a href="#" ng-click="orderVariable='event_category'"><span class="col-md-2">Category</span></a>
  <a href="#" ng-click="orderVariable='event_link'"><span class="col-md-2">Link</span></a>
  <a href="#" ng-click="orderVariable='notification_date'"><span class="col-md-2">Date</span></a>

</div>
<div class="row search-result" ng-repeat="event in queryresult | orderBy:orderVariable" ng-click="selection(event)">
  <div>
    <span class="col-md-2"><a href="#/event/{{event.id}}">{{event.event_title}}</a></span>
    <span class="col-md-2">{{event.event_category}}</span>
    <span class="col-md-2"><a href="{{event.event_link | linkFormat}}">{{event.event_link | linkFormat}}</a></span>
    <span class="col-md-2">{{event.notification_date}}</span>
  </div>
</div>

