<div class="form-group">
  <form novalidate name="searchForm" class="form-block" role="form" ng-submit='submit()'>
    <input type="text" class="" ng-model="event.name" ng-required="true" ng-change="liveSearchEventTitle()" 
      ng-class="{'invalidTxtBox': queryresult.length > 0 || event.name.length === 0}" placeholder="Search for event">
    <select ng-model="event.category">
      <option ng-repeat="category in event.categories">{{category}}</option>
    </select>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<div class="row column-headings">
  <span class="col-md-2">Event</span>
  <span class="col-md-2">Category</span>
  <span class="col-md-2">Link</span>
  <span class="col-md-2">Event Date</span>
  <span class="col-md-2">Notification</span>
  <span class="col-md-2">Notification Date</span>

</div>
<div class="row search-result" ng-repeat="event in queryresult" ng-click="selection(event)">
  <div>
    <span class="col-md-2"><a href="#/event/{{event.id}}">{{event.event_title}}</a></span>
    <span class="col-md-2">{{event.event_category}}</span>
    <span class="col-md-2"><a href="{{event.event_link | linkFormat}}">{{event.event_link | linkFormat}}</a></span>
    <span class="col-md-2">{{event.event_date}}</span>
    <span class="col-md-2">{{event.notification_info}}</span>
    <span class="col-md-2">{{event.notification_date}}</span>
  </div>
</div>
