<div class="body"></div>
<div class="grad"></div>
<div class="containersignup"></div>

<div class="header">
  <div>FOMO</div>
  <br>
  <div><span>fear of missing out</span></div>
</div>

<div class='tour'>
  <a href="#/"><button>EXPLORE</button></a>
</div>

<div class='aboutsignup about'>
  <a target="_blank" href="https://github.com/polarTiger/FOMO">ABOUT</button></a>
</div>

<div class="form-block login">
  <div id='signup'>
    <div ng-show="userAlreadyExist" style="color:red;">
      <div>User already exists!</div>
      <div>Please use sign in page instead,</div>
      <div>or retry with a different username.</div>
    </div>

    <form novalidate name="signupForm" class="form-block" role="form" ng-submit='signup()'>
      <div class="form-group">
        <input placeholder="Username" type="text" ng-model="user.username"/>
      </div>
      <div class="form-group">
        <input placeholder="Email" type="text" ng-model="user.email" />
      </div>

      <div class="form-group">
        <input placeholder="Choose your password" type="password" ng-model="user.password"/>
      </div>
      <button>Sign Up</button>
    </form>
    <br>
    <a class='signup' href="#/signin">Have an account? <strong>Sign In</strong> ...</a>
  </div>
</div>
