<div ng-class="{body:true}"></div>
<div class="grad"></div>
<div class="containersignup"></div>

<div class="header">
  <div>FOMO</div>
  <br>
  <div><span>fear of missing out</span></div>
</div>

<div class='explore'>
  <a href="#/home"><button>EXPLORE</button></a>
</div>

<div class='aboutsignup about'>
  <a target="_blank" href="https://github.com/polarTiger/FOMO">ABOUT</button></a>
</div>

<div class="form-block login">
  <div id='signup'>
    <div ng-show="passwordMismatch" id="matchpass">
      <div>Passwords don't match!</div>
    </div>
    <div ng-show="emailAlreadyExist" id="dupuser">
      <div>Email already exists - please use a different email address!</div>
    </div>
    <div ng-show="userAlreadyExist" id="dupuser">
      <div>User already exists - please choose another username!</div>
    </div>
    <div ng-show="(signupForm.name.$invalid || signupForm.email.$invalid || signupForm.password.$invalid) && signupForm.submitted && !passwordMismatch && !userAlreadyExist && !emailAlreadyExist" id="allfields">
      <div>Please complete all fields</div>
    </div>
    <form novalidate name="signupForm" class="form-block" role="form" ng-submit='signup()'>
      <div class="form-group">
        <input name='name' required ng-class="{'error': signupForm.$invalid}" placeholder="Username" type="text" ng-model="user.username"/>
      </div>
      <div class="form-group">
        <input name='email' required ng-class="{'error': signupForm.$invalid}" placeholder="Email" type="text" ng-model="user.email" />
      </div>

      <div class="form-group">
        <input name='password' required placeholder="Choose your password" type="password" ng-class="{'error': signupForm.$invalid}" ng-model="user.password"/>
      </div>
      <div class="form-group">
        <input name='password-validation' required placeholder="Verify your password" type="password" ng-class="{'error': signupForm.$invalid}" ng-model="user.passwordValidation" />
      </div>
      <button>Sign Up</button>
    </form>
    <br>
    <a class='signup' href="#/signin">Have an account? <strong>Sign In</strong> ...</a>
  </div>
</div>
